beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.4
idna==2.6
mp3play==0.1.15
pygame==1.9.3
pyTelegramBotAPI==3.2.0
pyttsx==1.1
pyttsx3==2.6
requests==2.20.0
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
